.create{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: blue;
    border-radius: 5px;
    color: white;

}

.card{
    display: flex;
    width: fit-content;
    /* background-color: red; */
    height: fit-content;
}

.note-heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    /* background-color: aqua; */
}
/* .note-heading button{
    height: 15px;
} */
input{
    width: 100%;
    padding: 10px 20px;
}